body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f4f4f4;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  min-width: 100px;
  width: auto;
  height: auto;
  border-radius: 5px;
  background: rgba(0, 0, 0, .5);
  color: white;
  text-align: center;
}
